<script src="https://unpkg.com/vue/dist/vue.js"></script>
hiii

<div id='app'>
<div>{{ exampleMessage | capitalize }}</div>
<form v-on:submit.prevent='onSubmit'>
  <input type="text" name="someText">
  <input type="submit" name="">
</form>
<div>{{num + 1}}</div>
  <span v-once>{{message}}</span>
  <span v-html='messageTwo'></span>
  <div v-bind:id='dynamicId'>this div has a dynamic id</div>
  <button v-bind:disabled='boolValueTrue'>This is a button that you can not click on</button>
  <button v-bind:disabled='boolValueFalse'>This is a button you can click on</button>
  <button :disabled='boolValueFalse'>This is a button you can click on and uses shorthand syntax</button>
  <a v-bind:href='urlExample'>This is a dynamic url</a>
</div>

<div id="app-2">
<span v-bind:title="message">
  Hover over for a few seconds to see my dynamic title
</span>
</div>

<div id="app-3">
  <p v-if="seen === 'yes'">
    Now you see me
  </p>
  <p v-else-if="seen === 'maybe'">
    Now I'm confused
  </p>
  <p v-else>
    Now you don't
  </p>

  <template v-if="good">
    <p>this</p>
    <p>is</p>
    <p>good</p>
  </template>
</div>

<div id="app-4">
  <ol>
  <template v-for="(todo, index) in todos">
    <li>
      {{todo.text}}
    </li>
    <li>
     {{index}}
    </li>
    <li>
      {{otherMessage}}
    </li>
  </template>
  </ol>

  <ol>
    <li v-for="(theValue, theKey, theIndex) in person">
      {{ theValue }} - {{ theKey }} - {{theIndex}}
    </li>
  </ol>
  <ul>
    <li v-for='n in 10'>
      {{n}}
    </li>
  </ul>

  <div v-for='todo in todos' v-if='!todo.complete' :key='todo.id'>
  {{ todo.text }}
  </div>
  <div v-for='number in even(numbers)'>{{ number }}</div>
  <div v-for='number in oddNumbers'>{{ number }}</div>
</div>

<div id="app-5">
<button v-on:click="reverseMessage">reverse the message below</button>
<button @click="reverseMessage">reverse the message below (uses shorthand syntax)</button>
  {{message}}
</div>

<div id="app-6">
  {{message}}
  <input type="text" v-model="message">
</div>

<div id="app-7">
  <ol>
  <list-item v-for="item in groceryList" v-bind:todo="item"></list-item>
  </ol>
</div>

<div id='computed'>
  <p>{{ message }}</p>
  <p>{{ reverseMessage }}</p>
</div>

<div id="bindExample" class='static' v-bind:class="{active: isActive, 'text-danger': hasError}">This should have the active class but not the text-danger class
</div>

<div id="computeBind" v-bind:class="classObject">
  Should have the active class but not text-danger. These classes were computed
</div>

<div id="arraySyntax" v-bind:class="[errorClass, activeClass]">This will add classes to the div based on an array given to v-bind
<my-component class='in-html'></my-component>
</div>
<div id="arraySyntax" v-bind:class="[errorClass, {active: isActive}]">This will add classes to the div based on an array given to v-bind that also uses the object syntax
</div>

<div id="editStyle" v-bind:style="[styleObject,secondStyleObject]">Here is some styled text</div>
<br><br>
<div id="eventHandle">
<button v-on:click='counter ++'>Add one to counter</button>
<button v-on:click='welcome'>Say hello</button>

  {{counter}}
</div>


<script src="vue_js_code.js"></script>
