<script src="https://unpkg.com/vue/dist/vue.js"></script>
hiii

<div id='app'>
  {{message}}
</div>

<div id="app-2">
<span v-bind:title="message">
  Hover over for a few seconds to see my dynamic title
</span>
</div>

<div id="app-3">
  <p v-if="seen">
    Now you see me
  </p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
    {{todo.text}}
    </li>
  </ol>
</div>

<div id="app-5">
<button v-on:click="reverseMessage">reverse the message below</button>
  {{message}}
</div>

<div id="app-6">
  {{message}}
  <input type="text" v-model="message">
</div>

<script src="vue_js_code.js"></script>
