<script src="https://unpkg.com/vue/dist/vue.js"></script>
hiii

<div id='app'>
<div>{{num + 1}}</div>
  <span v-once>{{message}}</span>
  <span v-html='messageTwo'></span>
  <div v-bind:id='dynamicId'>this div has a dynamic id</div>
  <button v-bind:disabled='boolValueTrue'>This is a button that you can not click on</button>
  <button v-bind:disabled='boolValueFalse'>This is a button you can click on</button>
  <a v-bind:href='urlExample'>This is a dynamic url</a>
</div>

<div id="app-2">
<span v-bind:title="message">
  Hover over for a few seconds to see my dynamic title
</span>
</div>

<div id="app-3">
  <p v-if="seen">
    Now you see me
  </p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
    {{todo.text}}
    </li>
  </ol>
</div>

<div id="app-5">
<button v-on:click="reverseMessage">reverse the message below</button>
  {{message}}
</div>

<div id="app-6">
  {{message}}
  <input type="text" v-model="message">
</div>

<div id="app-7">
  <ol>
  <list-item v-for="item in groceryList" v-bind:todo="item"></list-item>
  </ol>
</div>

<script src="vue_js_code.js"></script>
